node_modules
.env
.DS_Store

# Hardhat files
/cache
/artifacts

# foundry
/foundry-artifacts

# solidity-coverage files
/coverage
/coverage.json
/coverage_report
lcov.info

# Exporters files
abi
bin

# Tenderly
/deployments
